AUTH_DB_HOST=localhost
AUTH_DB_PORT=5432
AUTH_DB_NAME=
AUTH_DB_USER=
AUTH_DB_PASSWORD=

HOSPITAL_DB_HOST=localhost
HOSPITAL_DB_PORT=5432
HOSPITAL_DB_NAME=
HOSPITAL_DB_USER=
HOSPITAL_DB_PASSWORD=

ADMIN_SECRET=
